<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body>
    <h1>Agregar Nuevo Producto</h1><br>

    <form action="{{url_for('agregar')}}" method="POST">
        Nombre:<input type="text" name="nombre" required><br>
        Cantidad:<input type="text" name="cantidad" required><br>
        Precio:<input type="text" name="precio" required><br>
        Fecha Vencimiento: <input type="date" name="fecha_vencimiento" id="fecha" required><br>
        Categoria:<select name="categoria" id="">
            <option>Refresco</option>
            <option>Bebidas</option>
            <option>Golosinas</option>
            <option>Frutas</option>
        </select> <br><br>
    <input type="submit">

    </form>
</body>
</html>